{% load static %}

<div class = "sidebar-text">
    <p>Subreddit name:  r/Funny</p>
    <p>Toxicity Score:  0.912</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet lacus lobortis, consequat sapien sit amet, feugiat tellus. Integer a neque felis. Praesent vel mattis purus. In ligula dolor, scelerisque sit amet eros eu, ultrices facilisis enim. Pellentesque eget libero bibendum, condimentum lacus ut, eleifend sapien. Duis commodo, enim id egestas placerat, nibh orci auctor nulla, ac vehicula nibh neque porta lacus. Donec quis nulla tincidunt, malesuada metus sed, convallis ante. Quisque dapibus sodales turpis sed aliquet. Praesent eros erat, pharetra a ante sed, blandit varius felis. Sed interdum sagittis ex, sit amet placerat neque congue quis. Donec aliquam.</p>
</div>