<!-- 
   This functions logically identical to the view systems we looked at in class
   
   The sidebar just calls what sidebar modules it wants to load and show.
      All of the supporting JS and CSS can just exist even if a module is removed later
      because some parts are written to be cross componenet compatible for code reusability.

      This is especially true for the CSS.
 -->

<!-- Snapshot / Inference Task drop down selector -->
{% include "toxit/sidebar/sidebar-snapselect.html" %}

<!-- Lightmode toggle + Background select -->
{% include "toxit/sidebar/sidebar-themes.html" %}

<!-- Export current inference task factory module -->
{% include "toxit/sidebar/sidebar-config.html" %}

<!-- Live layout GUI Physics sliders -->
{% include "toxit/sidebar/siderbar-physicsGUI.html" %}

<!-- Edge Selector for current node -->
{% include "toxit/sidebar/sidebar-edgeselect.html" %}

<!-- Current node info  -->
{% include "toxit/sidebar/sidebar-nodeinfo.html" %}

<!-- Export current inference task factory module -->
{% include "toxit/sidebar/sidebar-export.html" %}