<li class="reorderable-list__item dropzone" draggable="true" >
    <a href="#" class="item-text" id="helpinfo">Help & Information
        <span class="fa-solid fa-grip-lines-vertical"></span>
    </a>
    <div class="collapsible item-show-helpinfo">
        <div class="help-info-content">
            <h3>Controls / Operation</h3>
            <div class="basically-ul">
                <div class="basically-li">
                    <h4>Welcome!</h4>
                    <p>
                        Welcome to toxit.info <span class="fa-solid fa-door-open"></span>
                    </p>
                    <p>
                        Toxit is a data exploration platform that centers around a weighted undirected graph representation of Reddit.com community connections.

                        Graph edges are weighted by set intersection cardinality of either moderators or commentators for the snapshot inder investigation.  
                        Comments are passed to a natural language processing model which returns the hate speech scoring of the comment.
                        Our NLP model was trained on <a href="https://aclanthology.org/2022.nlperspectives-1.11">The Measuring Hate Speech Corpus</a> to within 0.1132 MAE over [-1,1].
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Graph Exploration <span class="fa-solid fa-code-merge"></span> Controls</h4>
                    <p>
                        Click <span class="fa-solid fa-arrow-pointer"></span><span class="fa-solid fa-computer-mouse"></span>
                        a node to select it.  By default, for easy navigation, this opens the navigation tab with information about its
                        relations to other nodes. You can also drag and drop nodes to move them around. Hover over a node to view its statistics.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Middle Mouse button & <span class="fa-solid fa-minimize"></span></h4>
                    <p>
                        When middle mouse or <span class="fa-solid fa-minimize"></span> is clicked the graph will reset.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Side Menu <span class="fas fa-bars"></span></h4>
                    <p>
                        By default the side menu <span class="fas fa-bars"></span> is in a collapsed state. When the
                        user clicks the <span class="fas fa-bars"></span> it will open the side menu.
                    </p>
                </div>
              </div>
              <div class="basically-li">
                <h4>Drag & Drop Sidebar Tabs</h4>
                <p>
                    Sidebar tabs with the <span class="fa-solid fa-grip-lines-vertical"></span> symbol can be
                    reordered.
                </p>
            </div>
              <div class="basically-li">
                <h4>Snapshot Selection</h4>
                <p>
                    Data samples change over time, You can explore different snapshots using the dropdown.
                    You can also toggle between common moderators and commenters when viewing connections.
                </p>
            </div>
            <div class="basically-li">
                <h4>Theme & style</h4>
                <p>
                    Change the website styling to use a dark color theme or bright color theme with orange
                    accents. The default styling is for darkmode.
                </p>
            </div>
            <div class="basically-li">
                <h4>Node Information</h4>
                <p>
                    Provides descriptive statistics of a node selected by clicking on it as well as a link to the subreddit.
                </p>
            </div>
            <div class="basically-li">
                <h4>Physics</h4>
                <p>
                    Customize graph physics.
                </p>
            </div>
            <div class="basically-li">
                <h4>Export</h4>
                <p>
                    Download as JSON, CSV, or Pickle.
                </p>
            </div>
          </div>
        </div>
    </div>      
</li>