<li class="reorderable-list__item dropzone" draggable="true" >
    <a href="" class="item-text" id="helpinfo">Help & Information
        <span class="fa-solid fa-grip-lines-vertical"></span>
    </a>
    <div class="collapsible item-show-helpinfo">
        <div class="help-info-content">
            <h3>Controls / Operation</h3>
            <div class="basically-ul">
                <div class="basically-li">
                    <h4>Welcome!</h4>
                    <p>
                        Welcome to toxit <span class="fa-solid fa-door-open"></span>
                    </p>
                    <p>
                        Toxit is an explorative data science esque web application that centers around the
                        exploration of an undirected weighted graph of various communities gathered from reddit.com
                        By configuring our gather bot service to go and collect snapshots for us we are able to create
                        different snapshots of data that consist of a set of subreddit commnities, and the common moderators
                        and commentors between those communities. Each of these communities shows a single value under the 
                        name indicating the number of comments flagged by our AI when generating its average toxiticy 
                        score. This allows users to navigate through different snapshots of data and explore the connections
                        between communities to reveal intersting trends or to just have fun playing with the physics of the graph.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Graph Exploration <span class="fa-solid fa-code-merge"></span> Controls</h4>
                    <p>
                        Click <span class="fa-solid fa-arrow-pointer"></span><span class="fa-solid fa-computer-mouse"></span>
                        a node to select it.  By default, for easy navigation, this opens the navigation tab with information about its
                        relations to other nodes. You can also drag and drop nodes to move them around. Hover over a node to view its detailed toxicity data.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Middle Mouse button & <span class="fa-solid fa-minimize"></span></h4>
                    <p>
                        When middle mouse button is clicked or the <span class="fa-solid fa-minimize"></span>
                        button at the top right corner of the screen is clicked (left mouse click) the currently
                        loaded graph will zoom the node to make it fit nicely in the screen, making a nice reset
                        feature if you ever need to return the graph to a more neutral state.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Side Menu <span class="fas fa-bars"></span></h4>
                    <p>
                        By default the side menu <span class="fas fa-bars"></span> is in a collapsed state. When the
                        user clicks the <span class="fas fa-bars"></span> it will open the side menu.
                    </p>
                </div>
              </div>
              <div class="basically-li">
                <h4>Drag & Drop Sidebar Tabs</h4>
                <p>
                    Sidebar tabs with the <span class="fa-solid fa-grip-lines-vertical"></span> symbol can be
                    reordered.
                </p>
            </div>
              <div class="basically-li">
                <h4>Snapshot Selection</h4>
                <p>
                    Since subreddits change over time, we compare them against each other at
                     a particular moment in time.  You can explore different snapshots using the dropdown.
                    You can also toggle between common moderators and commenters when viewing connections.
                </p>
            </div>
            <div class="basically-li">
                <h4>Theme & style</h4>
                <p>
                    Change the website styling to use a dark color theme or bright color theme with orange
                    accents. The default styling is for darkmode.
                </p>
            </div>
            <div class="basically-li">
                <h4>Node Information</h4>
                <p>
                    Provides toxicity data of a node selected by clicking on it as well as a link to the subreddit.
                    Contains stastically information like average value, min and max values, as well as standard deviation.
                </p>
            </div>
            <div class="basically-li">
                <h4>Physics</h4>
                <p>
                    Provides the abilitiy to customize node graph appearance.
                </p>
            </div>
            <div class="basically-li">
                <h4>Export</h4>
                <p>
                    Download the the selected snapshot data in the specified format; The options are Json, CSV, and Pickle or PIC.
                </p>
            </div>
          </div>
        </div>
    </div>      
</li>