<li>
    <a href="" class="item-text" id="export-factory">Export
        <span class="fa-solid fa-file-arrow-down"></span>
    </a>
    <div class="collapsible item-show-export-factory">
        <div class="export-data-select-wrapper">
            <label for="export-selector">Choose a data set:</label>
            <select id="export-data-select" name="export-selector">
                {% for task in iTasks %}
                <option value="{{ task.id }}">Snapshot #{{ task.id }} - [{{ task.subreddit_count }} nodes] - {{ task.start_sched }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="export-type-wrapper">
            <span class="generic-button" onclick="exportData('json')">
                <i class="fa-solid fa-download"></i>
                    JSON
                <i class="fa-solid fa-spinner"></i>
            </span>
            <span class="generic-button" onclick="exportData('csv')">
                <i class="fa-solid fa-download"></i>
                    CSV
                <i class="fa-solid fa-spinner"></i>
            </span>
            <span class="generic-button" onclick="exportData('pic')">
                <i class="fa-solid fa-download"></i>
                    PIC
                <i class="fa-solid fa-spinner"></i>
            </span>
        </div>
    </div>      
</li>