<li>
    <a href="#" class="item-text" id="physicsGUI">Physics GUI
      <span class="fas fa-caret-down"></span>
    </a>
    <div class="collapsible item-show-physicsGUI">
      <div id="phsyics-slider-wrapper">
        <label for="springLengthRange">Spring Length:</label>
        <input type="range" id="springLengthRange" min="10" max="300" value="100" step="1">
        <br>
        <label for="springConstantRange">Spring Constant:</label>
        <input type="range" id="springConstantRange" min="0.001" max="0.5" value="0.1" step="0.001">
        <br>
        <label for="dampingRange">Damping:</label>
        <input type="range" id="dampingRange" min="0.01" max="1" value="0.15" step="0.01">
        <br>
        <label for="repulsionRange">Repulsion:</label>
        <input type="range" id="repulsionRange" min="10" max="1000" value="200" step="10">
        <br>
        <label for="gravityRange">Gravity:</label>
        <input type="range" id="gravityRange" min="-5" max="5" value="0" step="0.1">
      </div>
    </div>
  </li>