<li>
    <a href="#" class="item-text" id="edgeselect">Edge Select
        <span class="fas fa-caret-down"></span>
    </a>
    <div class="collapsible item-show-edgeselect">
        <div class="tg-list-item">
            <span>Auto Open: </span>
            <input class="tgl tgl-flip" id="auto-open-edge" type="checkbox">
            <!-- unchecked checkbox and tg-off are ON and checked and tg-on are OFF
                because of placement based checkbox css system and default values -->
            <label class="tgl-btn" data-tg-off="On" data-tg-on="Off" for="auto-open-edge"></label>
        </div>
        <div id="edge-buttons"></div>
    </div>      
</li>