<li class="reorderable-list__item dropzone" draggable="true" >
    <a href="#" class="item-text" id="helpinfo">Help & Information
        <span class="fa-solid fa-grip-lines-vertical"></span>
    </a>
    <div class="collapsible item-show-helpinfo">
        <div class="help-info-content">
            <h3>Controls / Operation</h3>
            <div class="basically-ul">
                <div class="basically-li">
                    <h4>Graph Exploration <span class="fa-solid fa-code-merge"></span> Controls</h4>
                    <p>
                        When clicking <span class="fa-solid fa-arrow-pointer"></span><span class="fa-solid fa-computer-mouse"></span>
                        things, stuff happens
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Middle Mouse button & <span class="fa-solid fa-minimize"></span></h4>
                    <p>
                        When middle mouse button is clicked or the <span class="fa-solid fa-minimize"></span> 
                        button at the top right corner of the screen is clicked (left mouse click) the currently
                        loaded graph will zoom the node to make it fit nicely in the screen, making a nice reset 
                        feature if you ever need to return the graph to a more neutral state.
                    </p>
                </div>
                <div class="basically-li">
                    <h4>Side Menu <span class="fas fa-bars"></span></h4>
                    <p>
                        By default the side menu <span class="fas fa-bars"></span> is in a collapsed state. When the
                        user clicks the <span class="fas fa-bars"></span> it will open the side menu. 
                    </p>
                </div>
              </div>
              <div class="basically-li">
                <h4>Drag & Drop</h4>
                <p>
                    aaa
                </p>
            </div>
              <div class="basically-li">
                <h4>Snapshot Selection</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Theme & style</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Node Info</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Help & Information</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Navigation</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Configuration & Physics</h4>
                <p>
                    aaa
                </p>
            </div>
            <div class="basically-li">
                <h4>Export</h4>
                <p>
                    aaa
                </p>
            </div>
          </div>
        </div>
    </div>      
</li>