/* CSS is ordered from least specific and is ordered based on dom heirarchy of side nav */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  color: var(--highlight-color);
}


/* 
  Main content displayed under / beside side nav 
*/

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #202020;
  z-index: -1;
  text-align: center;
  width: 100%;
  height: 100%;
}


/* 
  Sidebar hamburger toggle button for side nav 
*/

.sidebar-btn {
  z-index: 1;
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  background: var(--primary-color-D);
  border: var(--border-weight) solid var(--highlight-color);
  border-radius: 0.625rem; /* 10px */
  cursor: pointer;
  transition: left var(--transition-speed-navtog) ease;
}

.sidebar-btn.click {
  left: var(--sidenav-btn-offset);
  border-left: transparent;
}

.sidebar-btn span {
  color: var(--font-color);
  font-size: 1.5rem;
  vertical-align: -webkit-baseline-middle;
}

.sidebar-btn.click span:before {
  content: '\f00d';
}

/* 
  Sidebar container for side nav 
*/

.sidebar {
  position: fixed;
  width: var(--sidenav-width);
  height: 100%;
  left: var(--sidenav-width-hide);
  background: var(--primary-color);
  border-right: var(--border-weight) solid var(--highlight-color);
  transition: left var(--transition-speed-navtog) ease;
}

.sidebar.show {
  left: 0;
}

.sidebar .text {
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  background: var(--primary-color);
  letter-spacing: 0.01rem;
  background-color: var(--primary-color-D);
}

.text::before, .text::after {
  content: '';
  background-image: url("../logo/favicon.ico");
  background-size: 2rem;
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 0.25rem;
  margin: 0 0.5rem;
}

.main_side {
  background: var(--primary-color);
  height: 100%;
  width: 100%;
  list-style: none;
}


/* 
  List items and their text for side nav 
*/

.main_side li {
  line-height: 3rem; /* how tall each item is on the side nav */
  border-top: var(--border-weight) solid var(--border-color); 
  border-bottom: var(--border-weight) solid var(--border-color); 
  margin: 0;
}

.item-text {
  position: relative;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1rem;
  margin: 0;
  padding: 0 0.5rem;
  font-weight: 500;
  display: block;
  width: 100%;
}

li:has(.show) {
  background-color: var(--primary-color-D);
  border: 0.3rem outset var(--border-color);
}

.active .item-text {
  color: var(--highlight-color);
}

.item-text:hover {
  color: var(--highlight-color) ;
  background-color: var(--primary-color-L) ;
}

.item-text span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 15px;
  transition: transform 0.4s;
}


/* 
  Collapsible list items for side nav 
*/
.collapsible  {
  position: static;
  display: none;
}

.collapsible.show  {
  display: block;
  padding: 0 1rem;
}


/* 
  Animations for side nav 
*/

/* spins selection chevron */
.main_side li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}


/* 
  CSS for snapshot select side nav module 
*/

#snapshot-select {
  width: 100%;
}

.snap-select-radio-buttons label {
  display: block;
}

.snap-select-radio-buttons label input {
  /* position: absolute; */
  display: inline;
  z-index: -1;
}

/*
  Radio button code - sourced from: 
    https://codepen.io/victorfreire/pen/XXzqEr?editors=1100
*/