{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
    <div class = "sidebar-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur a mauris eu porta. Sed bibendum purus sed turpis ultrices sodales. Cras vel neque et libero egestas tempus. Praesent porttitor justo purus, sed maximus ligula venenatis vitae. Nunc quis lorem quis leo tincidunt volutpat. Etiam imperdiet ac leo ut dapibus.</p>
    </div>
</div>








</body>
</html>