<h1>Snapshot selection</h1>
<form method="get" action="{{ snapshot.id }}">
    <select id="snapshot-select" name="snapshot_id">
        {% for snapshot in Snapshots %}
            <option value="{{ snapshot.id }}" {% if snapshot.id == selected_snapshot.id %}selected{% endif %}>Snapshot: {{ snapshot.id }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<br><br>

<h1>Data</h1>
<div id="data-container">
    <!-- Data will be loaded here -->
    <ul>
        {% for node in sub_nodes_context %}
            <li> <!-- node stuff goes here --> </li>
        {% endfor %}
    </ul>
    <ul>
        {% for mod in mod_edges_context %}
            <li> <!-- mod stuff goes here; .to_sub and .from_sub --> </li>
        {% endfor %}
    </ul>
    <ul>
        {% for author in autor_edges_context %}
            <li> <!-- author stuff goes here; .to_sub and .from_sub --> </li>
        {% endfor %}
    </ul>
</div>

<script type="text/javascript">
    // ajax goes here
</script>