<!-- Select Menu Wrapper -->
<div id="snapshot-selection-wrapper">
  <h1>Snapshot selection</h1>
  <div class="radio-buttons" id="edge-weight-selector">
    <label><input type="radio" name="edge-weight" value="mods" id="mods-radio" checked>Moderators</label>
    <label><input type="radio" name="edge-weight" value="auth" id="auth-radio">Commenters</label>
  </div>  
  <select id="snapshot-select" name="snapshot_id">
      {% for task in iTasks %}
          <option value="{{ task.id }}">Snapshot: {{ task.id }}</option>
      {% endfor %}
  </select>
</div>

<!-- Data will be displayed here -->
<div id="Toxit-SubredditGraph">
</div>

<!-- buffer icon for ajax requests -->
<div class="loader" id="loader">
  <div class="spinner" id="spinner"></div>
</div>