<h1>Snapshot selection</h1>
<select id="snapshot-select">
    {% for snapshot in Snapshots %}
        <option value="{{ snapshot.id }}">Snapshot: {{ snapshot.id }}</option>
    {% endfor %}
</select>
<br><br>
<h1>Data</h1>
<div id="data-container">
    <!-- Data will be loaded here -->
    {% for snapshot in Snapshots %}
        <h2>Snapshot: {{ snapshot.id }}</h2>
        <ul>
            {% for subreddit_result in snapshot.subreddit_result_set.all %}
                <li>Subreddit result ID: {{ subreddit_result.id }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>