<h1>Snapshot selection</h1>
<select id="snapshot-select" name="snapshot_id">
    {% for task in iTasks %}
        <option value="{{ task.id }}" {% if selected == task %}selected{% endif %}>Snapshot: {{ task.id }}</option>
    {% endfor %}
</select>

<br>

<h1>VisJS</h1>

<!-- Data will be displayed here -->
<div id="Toxit-SubredditGraph">
</div>

<script type="text/javascript">
    var sub_nodes = new vis.DataSet();
    var mod_edges = new vis.DataSet();
    var author_edges = new vis.DataSet();

    var container = document.getElementById("Toxit-SubredditGraph");

    var data = {
        nodes: sub_nodes,
        edges: mod_edges,
    };

    var options = {
        nodes:{
            shape: "box",
            margin: 10,
        }
    };

    var network = new vis.Network(container, data, options);

    // Add event listener to snapshot-select select tag
    document.getElementById('snapshot-select').addEventListener('change', function() {
        var snapshot_id = this.value;
        var url = '/update_data/' + snapshot_id + '/';
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                // Clear the existing data
                sub_nodes.clear();
                mod_edges.clear();
                author_edges.clear();

                // Add the new data
                sub_nodes.add(data.sub_nodes_context);
                mod_edges.add(data.mod_edges_context);
                author_edges.add(data.author_edges_context);
            },
            error: function(xhr, status, error) {
                console.log('Error:', error);
            }
        });
    });
</script>