@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: lightblue;
  font-family: verdana;
}

#menuIcon {
    fill: white;
    margin: 10px;
}

.icon2:hover {
  background-color: rgb(212, 212, 212);
}
.icon {
    height: 38px;
    width: 38px;
    cursor: pointer;
    position: sticky;
    fill: white;
}
#sidebar {

    width: 0px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    transition: width 0.5s ease;
}

flex-container {
  display: flex;
  justify-content: space-between;
}
.sidebar-text {
  text-decoration: none;
  color: white;
  height:100px;
  width: 250px;
}
.tab.active {
  background-color: gray;
}
.tab {
  background-color: none;
}
.content.active {
  display: block;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.content {
  display: none;
}
