/* all the relevant CSS for the network graph related page content */
body {
  margin: 0.5rem;
  display: block;
  height: 95vh;
}

#snapshot-selection-wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 420; /* makes selection clickable */
  float: right;
  margin-right: 0.5rem;
}

#snapshot-selection-wrapper select {
  float: right;
  height: 100%;
}

#Toxit-SubredditGraph {
  height: 100%;
}

.loader {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 666;
  margin: 0.5rem;
  cursor: pointer;
  }
  
  .loader .spinner {
  border: 0.5rem solid #787878;
  border-top: 0.5rem solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  display: inline-block;
  }
  
  .loader:hover::after {
    content: 'X';
    font-size: 3.5rem;
    font-family: cursive;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}