{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static '/logo/favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'node_modules/vis-network/dist/vis-network.js' %}"></script>
    <link rel="stylesheet" href="{% static 'networkGraph/subreddit-graph-style.css' %}">

    <title>Network</title>
  </head>

  <body>
    <!-- visJs Block -->
    {% include "toxit/networkGraph/visJs-Block.html" %}
  </body>

    <footer>
      <script type="text/javascript"> {% include "toxit/networkGraph/subreddit-graph-data.js" %} </script>
      <script type="text/javascript" src="{% static 'networkGraph/subreddit-graph-visualization.js' %}"></script>
    </footer>
  </body>
</html>