{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{% static '\logo\favicon.ico' %}"/>
    <script type="text/javascript" src="{% static 'node_modules/vis-network/dist/vis-network.js' %}"></script>
    <link rel="stylesheet" href="{% static 'networkGraph/networkGraph.css' %}">

    <title>Network</title>
  </head>

  <body>
    <div id="mynetwork"></div>

    <footer>
      <!-- to included app-template dependent js -->
      <script type="text/javascript">
        console.log("loading networkGraph.js ...");
        {% include "networkGraph/networkGraph.js" %} 
      </script>
      <script type="text/javascript" src="{% static 'networkGraph/networkGraph.js' %}"></script>
    </footer>
  </body>
</html>