{% extends 'base.html' %}
{% load static %} 



{% block extra_style %}
<!--  Sidebar CSS -->
<link rel="stylesheet" href="{% static 'sidebar/sidebar.css' %}" />
<!--  Landing CSS -->
<link rel="stylesheet" href="{% static 'landing/landing.css' %}" />
<style>
  /* make period look like the logo */
  img {
    height: clamp(0.15rem, 3vw, 1.2rem);
    padding-left: 0.2rem;
  }

  .column a video {
    background-image: url("{% static 'landing/transition-frame.png' %}");
    height: auto;
    width: auto;
  }

  .column a video {
    background-image: url("/static/landing/transition-frame.png");
    height: 270px;
  }
</style>
{% endblock extra_style %}



{% block content %}
<div>
  <h1>toxit<span class="logodot"><img src="{% static 'logo/toxit-logo.png' %}" ></img></span>info</h1>
  <div class="container">
    <div class="column">
      <a href="{% url 'toxit:index' %}">
        <video playsinline autoplay muted loop id="video-player">
          <source id="video-source" type="video/webm" />
        </video>
      </a>
      <a class="generic-button" href="{% url 'toxit:index' %}"
        >Start Exploring</a
      >
    </div>
    <div class="column">
      <h2>About us</h2>
      <p>
        We aim to empower Reddit users to explore the prevalence of toxic community content as well as connections between adjacent communities with respect to their moderators and contributors.
      </p>
    </div>
  </div>
</div>
{% endblock content %} 



{% block footer %}
<script>
  const demoList = [
    "{% static 'landing/demo1-hd.webm' %}",
    "{% static 'landing/demo2-hd.webm' %}",
    "{% static 'landing/demo3-hd.webm' %}",
    "{% static 'landing/demo4-hd.webm' %}",
    "{% static 'landing/demo5-hd.webm' %}",
    // add more demos here
  ];

  const transitionVideo = "{% static 'landing/transition-hd.webm' %}";
  const videoSource = document.getElementById("video-source");
  const videoPlayer = document.getElementById("video-player");
  let currentDemoIndex = -1;

  setInterval(() => {
    switchVideo(videoPlayer, videoSource, transitionVideo);
    setTimeout(switchDemo, 500); // transition for half a second
  }, 10000); // play each demo for 10 seconds

  switchDemo();

  //switch the video to the new video
  function switchVideo(video, source, newURL) {
    video.pause();
    source.setAttribute("src", newURL);
    video.load();
    video.play();
  }

  function switchDemo() {
    currentDemoIndex = (currentDemoIndex + 1) % demoList.length;
    switchVideo(videoPlayer, videoSource, demoList[currentDemoIndex]);
  }
</script>
{% endblock footer %}
