{% extends 'dash/base.html' %}{%block extra_style %}{{ block.super }}
<style>

</style>
{% endblock extra_style %} {% block content %}{% if user.is_authenticated %}

<div id="header">
  <div id="site-header"><h1 id="site-name">Toxit Dashboard</h1></div>
  <div id="user">
    Welcome: <b>{{user.username}}</b> /
    <a id="logout" href="{% url 'toxit:logout' %}">Log Out</a>
  </div>
</div>
<div id="site-body">
  <div id="add-inference">
    <h2>Add Inference Task</h2>
    <form action="{% url 'toxit:add_Inference_Task' %}" method="post" id="add-inference-form">
      {% csrf_token %}
      <div class="form-row">
        <label for="start_sched"> Start Time: </label>
        <input name="start_sched" type="datetime-local" required/></div>
      <h3>Configuration</h3>
      <div class="form-row">
        <label for="time_scale"> Time scale: </label>
        <select name="time_scale" required>
          <option value="hour">This Hour</option>
          <option value="day">Today</option>
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="year">This Year</option>
          <option value="all">All Time</option>
        </select>
        <p class="help-text">The period overwhich the comments will be harvested</p>
      </div>
      <div class="form-row">
        <label for="min_words"> Min Words: </label>
        <input type="number" name="min_words" required value="20"></input>
        <p class="help-text">The minimum number of words to be considered a valid comment</p>
      </div>
      <div class="form-row">
        <label for="comments_per_post"> Comments per Post: </label>
        <input type="number" name="comments_per_post" required value="1000"></input>
        <p class="help-text">The maximum number of comments per post to be harvested</p>
      </div>
      <div class="form-row">
        <label for="comments_n"> Comments per Subreddit: </label>
        <input type="number" name="comments_n" required value="1000"></input>
        <p class="help-text">The number of comments to be harvested</p>
      </div>
      <div class="form-row">
        <label for="subreddit_set"> Subreddit set: </label>
        <textarea name="subreddit_set" cols="40" rows="10" required value="1000">null</textarea>
        <p class="help-text">A comma separated list of the subreddits to be harvested</p>
      </div>
      <input type="submit" value="SAVE"/>
    </form>
  </div>
  <div id="view-inference">
    <h2>Current Inference Tasks</h2>
    <table id="inference-task-table">
      <thead>
        <tr>
          <th>Inference Task</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in iTasks %}
        <tr>
          <td>{{task.start}} </td>
          <td>{{task.status}}</td>
          <td>
            {% if task.status != "In Progress"%}{% endif %}
            <a href='{% url 'toxit:delete_Inference_Task' task.id %}' class='del fas fa-trash'></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%else %} You need to <a href="{% url 'toxit:login' %}">Log In</a> {% endif %}
{%endblock content %}
