{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
<!--                  <li><a href="#">Contact us</a></li>-->
<!--                  <li><a href="#">Our Team</a></li>-->
    <div class = "sidebar-text">
        <p>Subreddit name:  r/Funny</p>
        <p>Toxicity Score:  0.912</p>
   </div>
</body>
</html>