{% load static %}
<div class = "sidebar-text">
    <div id="test-buttons">
<!--      <input type="radio" id="radio_sim" checked=false name="arc_weight" value="shared_mod_sim">-->
<!--      <label for="radio_sim">similarty</label>-->
<!--      <input type="radio" id="radio_count" checked=true name="arc_weight" value="shared_mod_count">-->
<!--      <label for="radio_count">count</label>-->
    </div>
    <p>To do:
    Add plug in physics sliders
    Dark mode
    Commenters/similarity
    Possibly search</p>
</div>